.header-bar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    padding: 0 12px;
    font-size: 24px;
    cursor: default;
  }
  .btn-area {
    width: 100px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    .icon {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .iconfont {
        font-size: 20px;
      }
      .text {
        display: none;
        font-size: 16px;
        transition: 0.3s;
        cursor: default;
      }
    }
    .icon:hover .iconfont {
      display: none;
    }
    .icon:hover .text {
      display: block;
      color: #333;
    }
  }
}
